@using SHConsultancy.Models
@{ ViewBag.Title = "Property"; }

<div id="page-wrapper">
    @Html.Partial("_Header", new HeaderViewModel {IsDefault = true, IsFixed = false})

    <!-- ==========================
    JUMBOTRON - START
    =========================== -->
    <section class="jumbotron jumbotron5 accomodation">
        <div class="container"></div>
    </section>
    <!-- ==========================
    JUMBOTRON - END
    =========================== -->
    <!-- ==========================
    INTRODUCTION - START
    =========================== -->
    <section class="content" id="section-introduction">
        <div class="container">
            <h2>Accommodation</h2>
            <p>Choosing an accommodation is an important decision to make, as it is a place where you will call home during your studies. It can be difficult for international students studying in the UK to understand the processes, rules and laws regarding to different type of accommodation.</p>
            <p>Our counsellors are able to help advice you about the choices available for student accommodation: </p>
        </div>
    </section>


    <!-- ==========================
    INTRODUCTION - END
    =========================== -->
    @Section("University Residence", "Most universities in the UK offer their own accommodation, but these can vary quite a lot from modern to old and well-used. It is common for universities to have accommodation for undergraduate students and post graduates separately, but in some cases they may be mixed. Men and woman share the same residences, though rare, some schools may offer female only accommodation.", "/images/acc/2.jpg")
    @Section("Private Residence", "Purpose built residences offered by private companies are becoming more and more popular with students, especially those built in urban areas. Most of these types of accommodation offer more modern facilities and are well located near universities.", "/images/acc/3.jpg", true)
    @Section("Language School Residence", "Language schools offer very similar accommodation to universities and will offer more independence than a homestay. Most language school accommodations will offer you a single bedroom, but there are options for shared rooms as well.", "/images/acc/4.jpg")
    @Section("Private housing", "Our experts are able to find you private housing within all of the UK’s Major cities.  Through our partnerships with local estate agencies we are able to deliver bespoke services to meet each individuals needs.", " /images/acc/5.jpg", true)
    @Section("Homestay", "Homestay accommodation is available for students wishing to live with a local family or single person in their home. It is suitable if you want a more supportive environment or to improve your English language skills.", "/images/acc/6.jpg")

    @Html.Partial("_Footer")
</div>

@helper Section(string title, string body, string imageUrl, bool alternate = false)
{
    <section class="content bg-color-2" style="@(alternate ? "background-color: white;" : "")">
        <div class="container">
            <div class="row">
                @if (alternate)
                {
                    <div class="col-md-6">
                        <img src="@imageUrl" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h2>@title</h2>
                        <h4>@body</h4>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <h2>@title</h2>
                        <h4>@body</h4>
                    </div>
                    <div class="col-md-6">
                        <img src="@imageUrl" alt="" class="img-responsive">
                    </div>

                }
            </div>
        </div>
    </section>
}